<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>My home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% load staticfiles %}<link rel="stylesheet" href="{% static 'styles/myhome_style.css'%}" type="text/css" media="all" />
<script type="text/javascript">
var number=8; //定义条目数

function LMYC() {
var lbmc;
    for (i=1;i<=number;i++) {
        lbmc = eval('LM' + i);
        lbmc.style.display = 'none';
    }
}
 
function ShowFLT(i) {
    lbmc = eval('LM' + i);
    if (lbmc.style.display == 'none') {
        LMYC();
        lbmc.style.display = '';
    }
    else {
        lbmc.style.display = 'none';
    }
}
</script>
</head>
<body>
			<p id="top_info">
            {% if islogin %}
				<h2>我的信息</h2>
					<label>姓名：</label>
					<p class="name">{{User.User_Name}} </p>
					<label>注册邮箱：</label>
					<p class="name">{{User.User_Email}}</p>
					<label>个人描述：</label>
					<p class="text">
					{% if User.User_Description %}
						{{User.User_Description}}
					{% else %}
						这个人很懒，什么都没留下
					{% endif %}
					</p>
			<label>问题</label>
			<dl>
			<dt onClick=javascript:ShowFLT(1) href="javascript:void(null)"><a href="javascript:;">我提出的问题</a></dt> 
				<dd id=LM1 style="DISPLAY: none">
				{% if asked_que %}
					{% for que in asked_que %}
					<li><a href="/answer_question/?no={{que.No}}">{{que.Title}}</a></li>
					{% endfor %}
				{% else %}
					<p>还没有提出问题哦</p>
				{% endif %}
				</dd>
			<dt onClick=javascript:ShowFLT(2) href="javascript:void(null)"><a href="javascript:;">我关注的问题</a></dt>
				<dd id=LM2 style="DISPLAY: none">
				{% if followed_que %}
					{% for que in followed_que %}
					<li><a href="/answer_question/?no={{que.No}}">{{que.Title}}</a></li>
					{% endfor %}
				{% else %}
					<p>还没有关注问题哦</p>
				{% endif %}
				</dd>
			<dt onClick=javascript:ShowFLT(3) href="javascript:void(null)"><a href="javascript:;">我评论过的问题</a></dt>
				<dd id=LM3 style="DISPLAY: none">
				{% if comment_que %}
					{% for que in comment_que %}
					<li><a href="/answer_question/?no={{que.No}}">{{que.Title}}</a></li>
					{% endfor %}
				{% else %}
					<p>还没有评论过问题哦</p>
				{% endif %}
				</dd>
			</dl>
			<label>回答</label>
			<dl>
			<dt onClick=javascript:ShowFLT(4) href="javascript:void(null)"><a href="javascript:;">我的回答</a></dt> 
				<dd id=LM4 style="DISPLAY: none">
				{% if answered %}
					{% for ans in answered %}
					<li><a href="/answer_question/?no={{ans.1.Ans_Of_Question}}#ans-{{ans.1.Ans_No}}">{{ans.0.Title}} - 我的回答</a></li>
					{% endfor %}
				{% else %}
					<p>还没有回答过问题哦</p>
				{% endif %}
				</dd>
			<dt onClick=javascript:ShowFLT(5) href="javascript:void(null)"><a href="javascript:;">我评论过的回答</a></dt>
				<dd id=LM5 style="DISPLAY: none">
				{% if comment_ans %}
					{% for ans in comment_ans %}
					<li><a href="/answer_question/?no={{ans.1.Ans_Of_Question}}#ans-{{ans.1.Ans_No}}">{{ans.0.Title}} - 我的回答</a></li>
					{% endfor %}
				{% else %}
					<p>还没有评论过回答哦</p>
				{% endif %}
				</dd>
			<dt onClick=javascript:ShowFLT(6) href="javascript:void(null)"><a href="javascript:;">我赞同过的回答</a></dt>
				<dd id=LM6 style="DISPLAY: none">
				{% if voted_ans %}
					{% for ans in voted_ans %}
					<li><a href="/answer_question/?no={{ans.1.Ans_Of_Question}}#ans-{{ans.1.Ans_No}}">{{ans.0.Title}} - 我的回答</a></li>
					{% endfor %}
				{% else %}
					<p>还没有赞同过回答哦</p>
				{% endif %}
				</dd>
			</dl>
			<label>其他人</label>
			<dl>
			<dt onClick=javascript:ShowFLT(7) href="javascript:void(null)"><a href="javascript:;">我关注了</a></dt> 
				<dd id=LM7 style="DISPLAY: none">
				{% if followed_users %}
					我已关注了{{followed_users|length}}人
					{% for followed in followed_users %}
					<li><a href="/otherhome/?no={{followed.User_No}}">{{followed.User_Name}}</a></li>
					{% endfor %}
				{% else %}
					<p>还没有关注的人哦</p>
				{% endif %}
				</dd>
			<dt onClick=javascript:ShowFLT(8) href="javascript:void(null)"><a href="javascript:;">我的关注者</a></dt>
				<dd id=LM8 style="DISPLAY: none">
				{% if follower_users %}
					已有{{follower_users|length}}人关注了我
					{% for follower in follower_users %}
					<li><a href="/otherhome/?no={{follower.User_No}}">{{follower.User_Name}}</a></li>
					{% endfor %}
				{% else %}
					<p>还没有人关注哦</p>
				{% endif %}
				</dd>
			</dl>
					<p class="submit"><a href='/'>返回</a>    <a href='/editUser/'>修改个人资料</a></p>
            {% else %}
				<h1>你尚未登录</h1>
				<p><a href="/login/">滚去登录</a><p>
            {% endif %}
            </p>



</body>
</html>